{% extends 'base.html' %} 
{%load static%}

<html>
    
    {%block link%}
        <link rel='stylesheet' href="{%static 'css/skincare.css'%}">
   {%endblock%}
{%block content%}
<h1 class='cath1'>About</h1>
<img src="{%static 'image/about2.png'%}" class="cateimg">
<div class=categdiv>
    <p class="aboutp">At GlowingPure,We live to spread a littile love and <br>
        goodness every day.We believe that goodness isn't <br>
        a super power,nor a special gift,it's inside all of us and it <br>
        shows in the littile choices we make.This is our #GoodnessInside.</p>
</div>
{%endblock%}